Repository CCorrado/Cooper2.0, pull requests merged in 2019-09, with the labels that each got.

#6 Fix issue with db and api ports. Set up env variables and files. Add …
  backend/.env.example
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/users/createUser.js
  backend/routes/users/getUser.js
  backend/routes/users/loginUser.js
  docker-compose.yml
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/App.test.jsx
  frontend/src/Components/Authentication/Login/Login.jsx
  frontend/src/Components/Authentication/Login/Login.module.scss
  frontend/src/Components/Authentication/Login/Login.test.jsx
  frontend/src/Components/Authentication/Login/index.js
  frontend/src/Components/Authentication/Registration/Registration.jsx
  frontend/src/Components/Authentication/Registration/Registration.module.scss
  frontend/src/Components/Authentication/Registration/Registration.test.jsx
  frontend/src/Components/Authentication/Registration/RegistrationForm/RegistrationForm.jsx
  frontend/src/Components/Authentication/Registration/RegistrationForm/RegistrationForm.module.scss
  frontend/src/Components/Authentication/Registration/RegistrationForm/index.js
  frontend/src/Components/Authentication/Registration/index.js
  frontend/src/Components/Home/Home.jsx
  frontend/src/Components/Home/Home.test.jsx
  frontend/src/Components/Home/index.js
  frontend/src/Components/Navigation/NavigationContext.jsx
  frontend/src/Components/common/TextInput/TextInput.jsx
  frontend/src/Components/common/TextInput/TextInput.module.scss
  frontend/src/Components/common/TextInput/index.js
  frontend/src/index.scss
  frontend/src/services/api/userService.js
  frontend/src/setupTests.js
Labels: API, Frontend

#5 Docs/interaction diagrams
  backend/README.md
  backend/docs/Cooper2.0_diagrams_StarUML.mdj
  backend/docs/associate_time_range.jpg
  backend/docs/login_session.jpg
  backend/docs/register_session.jpg
Labels: API, documentation

#9 Add in Architecture Development View
  documentation/cooper_arch.drawio
  documentation/cooper_arch.png
  documentation/cooper_arch.xml
Labels: documentation

#8 Feature/backend create usr
  backend/routes/index.js
  backend/routes/users/association/associate_category.js
  backend/routes/users/association/associate_institute.js
  backend/routes/users/association/associate_major.js
  backend/routes/users/association/associate_range.js
  backend/routes/users/createUser.js
  backend/routes/users/getUser.js
  backend/routes/users/loginUser.js
Labels: Backend
