Repository CCorrado/Cooper2.0, pull requests merged in 2019-11, with the labels that each got.

#27 Implement get courses route
  backend/routes/courses/getCourses.js
  backend/routes/courses/registerCourse.js
  backend/routes/index.js
  backend/routes/users/createUser.js
  backend/routes/users/getCoursesForUser.js
  backend/routes/users/getUser.js
  backend/routes/users/loginUser.js
  backend/routes/users/unregisterFromCourse.js
  backend/tests/unit/controllers/association/association.test.js
  backend/tests/unit/controllers/courses/courses.test.js
  backend/tests/unit/controllers/users/users.test.js
  database/src/main/kotlin/com/cooper/database/controller/UserController.kt
  database/src/main/kotlin/com/cooper/database/model/Course.kt
  database/src/main/kotlin/com/cooper/database/model/Session.kt
  database/src/main/kotlin/com/cooper/database/model/User.kt
  database/src/main/kotlin/com/cooper/database/service/session/SessionService.kt
  database/src/main/kotlin/com/cooper/database/service/session/SessionServiceImpl.kt
  docker-compose.prod
  frontend/.env.example
  frontend/src/App.jsx
  frontend/src/Components/Authentication/Login/Login.jsx
  frontend/src/Components/Authentication/Registration/Registration.jsx
  frontend/src/Components/Home/Search/Search.jsx
  frontend/src/Components/Home/Search/Search.module.scss
  frontend/src/Components/common/UserContext.jsx
  frontend/src/Components/common/hooks/useCacheState.js
  frontend/src/services/api/userService.js
  nginx/default.conf
Labels: Frontend

#28 Fix userId variable
  backend/middleware/cors.js
  database/src/main/kotlin/com/cooper/database/model/Course.kt
  database/src/main/kotlin/com/cooper/database/model/Session.kt
  database/src/main/kotlin/com/cooper/database/model/User.kt
  database/src/main/kotlin/com/cooper/database/repository/UserRepository.kt
  database/src/main/kotlin/com/cooper/database/service/user/UserServiceImpl.kt
  docker-compose.prod
  frontend/src/Components/Home/Search/Search.jsx
  frontend/src/Components/common/hooks/useCacheState.js
Labels: database

#30 Feature/course registration ui
  backend/middleware/cors.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Authentication/Login/Login.module.scss
  frontend/src/Components/Authentication/Registration/RegistrationForm/RegistrationForm.module.scss
  frontend/src/Components/Home/ClassIndex/ClassIndex.jsx
  frontend/src/Components/Home/ClassIndex/ClassIndex.module.scss
  frontend/src/Components/Home/CourseListing/CourseListing.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.module.scss
  frontend/src/Components/Home/Search/Search.jsx
  frontend/src/Components/Home/Search/Search.module.scss
  frontend/src/services/api/userService.js
Labels: Frontend

#29 db create
  database/src/main/resources/application.properties
Labels: database

#31 Fix cors and registration
  backend/middleware/cors.js
  backend/routes/courses/registerCourse.js
  backend/routes/index.js
  frontend/src/Components/Home/ClassIndex/ClassIndex.jsx
  frontend/src/Components/Home/ClassIndex/ClassIndex.module.scss
  frontend/src/Components/Home/CourseListing/CourseListing.jsx
  frontend/src/services/api/userService.js
Labels: API, Frontend

#32 Add in documentation for all of the environments
  README.md
  backend/README.md
  database/.env.example
  database/README.md
  docker-compose.yml
  frontend/README.md
Labels: documentation

#34 Implement Course Swapping on the database
  database/src/main/kotlin/com/cooper/database/controller/CourseSwapController.kt
  database/src/main/kotlin/com/cooper/database/model/CourseSwap.kt
  database/src/main/kotlin/com/cooper/database/model/network/CourseSwapRequest.kt
  database/src/main/kotlin/com/cooper/database/model/network/CourseSwapResponse.kt
  database/src/main/kotlin/com/cooper/database/repository/CourseSwapRespository.kt
  database/src/main/kotlin/com/cooper/database/service/course/CourseSwapService.kt
  database/src/main/kotlin/com/cooper/database/service/course/CourseSwapServiceImpl.kt
Labels: database

#36 Implement Course Swapping on the database
  database/src/main/kotlin/com/cooper/database/repository/CourseSwapRespository.kt
  database/src/main/kotlin/com/cooper/database/service/course/CourseSwapServiceImpl.kt
Labels: bug, database

#37 Fix issue with Course Swap
  database/src/main/kotlin/com/cooper/database/repository/CourseSwapRespository.kt
  database/src/main/kotlin/com/cooper/database/service/course/CourseSwapServiceImpl.kt
  docker-compose.prod
Labels: bug, database

#35 Feature/backend/swap courses
  backend/routes/courses/swap/accecptSwapCourses.js
  backend/routes/courses/swap/createSwapCourses.js
  backend/routes/courses/swap/getSwapCourses.js
  backend/routes/index.js
  backend/tests/unit/controllers/courses/courses.swap.test.js
Labels: Backend

#38 Fix issue with userId not being signed. Fix bugs with swapping
  backend/middleware/checkAccessToken.js
  backend/routes/courses/getCourses.js
  backend/routes/courses/registerCourse.js
  backend/routes/courses/swap/accecptSwapCourses.js
  backend/routes/courses/swap/createSwapCourses.js
  backend/routes/courses/swap/getSwapCourses.js
  backend/routes/users/createUser.js
  backend/routes/users/getCoursesForUser.js
  backend/routes/users/unregisterFromCourse.js
  backend/services/courseService.js
  frontend/src/App.jsx
  frontend/src/Components/Home/ClassIndex/ClassIndex.jsx
  frontend/src/Components/Home/ClassIndex/ClassIndex.module.scss
  frontend/src/Components/Home/Home.jsx
  frontend/src/Components/Home/HomeScreen/HomeScreen.jsx
  frontend/src/Components/Home/Search/Search.jsx
  frontend/src/Components/Redirect/RedirectRoute.jsx
  frontend/src/services/api/userService.js
Labels: API, Backend, Frontend

#39 pathing issue
  backend/package-lock.json
  backend/package.json
  frontend/src/App.jsx
Labels: Frontend

#40 Add in Swap Icon
  frontend/.eslintrc.json
  frontend/src/Components/Home/ClassIndex/ClassIndex.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.module.scss
  frontend/src/Components/Home/CourseListing/cooper.code-workspace
  frontend/src/images/swap.svg
Labels: Frontend

#41 Feature/course unregister
  backend/routes/users/loginUser.js
  backend/routes/users/unregisterFromCourse.js
  backend/services/courseService.js
  database/src/main/kotlin/com/cooper/database/controller/CourseController.kt
  docker-compose.yml
  frontend/src/Components/Home/ClassIndex/ClassIndex.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.module.scss
  frontend/src/Components/common/UserContext.jsx
  frontend/src/images/delete.svg
  frontend/src/services/api/userService.js
Labels: API, Frontend

#42 Add in course swap frontend code
  frontend/package-lock.json
  frontend/src/Components/Authentication/Login/Login.module.scss
  frontend/src/Components/Authentication/Registration/Registration.module.scss
  frontend/src/Components/Authentication/Registration/RegistrationForm/RegistrationForm.module.scss
  frontend/src/Components/Home/ClassIndex/ClassIndex.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.module.scss
  frontend/src/Components/Home/CourseListing/CourseToGetDialog.jsx
  frontend/src/Components/Home/CourseListing/CourseToGetDialog.module.scss
  frontend/src/Components/Home/CourseListing/cooper.code-workspace
  frontend/src/Components/Home/Home.jsx
  frontend/src/Components/Navigation/NavigationContext.jsx
  frontend/src/Components/common/TextInput/TextInput.module.scss
  frontend/src/Components/common/hooks/useModal.js
  frontend/src/images/close.svg
  frontend/src/services/api/userService.js
Labels: Frontend

#44 Implement accepting course swaps
  backend/package-lock.json
  backend/routes/courses/swap/accecptSwapCourses.js
  backend/services/courseService.js
  database/src/main/kotlin/com/cooper/database/controller/CourseSwapController.kt
  database/src/main/kotlin/com/cooper/database/repository/CourseSwapRespository.kt
  database/src/main/kotlin/com/cooper/database/service/course/CourseSwapService.kt
  database/src/main/kotlin/com/cooper/database/service/course/CourseSwapServiceImpl.kt
  frontend/package-lock.json
  frontend/src/Components/Home/CourseSwap/CourseSwap.jsx
  frontend/src/Components/Home/HomeScreen/HomeScreen.jsx
  frontend/src/services/api/userService.js
Labels: API, Frontend, database

#45 Added rate limit for backend
  nginx/default.conf
Labels: API

#47 Release/sprint 2
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  frontend/.dockerignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Components/Authentication/Login/Login.jsx
  frontend/src/Components/Authentication/Login/Login.module.scss
  frontend/src/Components/Authentication/Registration/Registration.jsx
  frontend/src/Components/Authentication/Registration/Registration.module.scss
  frontend/src/Components/Authentication/Registration/RegistrationForm/RegistrationForm.module.scss
  frontend/src/Components/Home/About/About.jsx
  frontend/src/Components/Home/About/About.module.scss
  frontend/src/Components/Home/About/index.js
  frontend/src/Components/Home/BottomNav/BottomNav.jsx
  frontend/src/Components/Home/BottomNav/BottomNav.module.scss
  frontend/src/Components/Home/BottomNav/index.js
  frontend/src/Components/Home/ClassIndex/ClassIndex.jsx
  frontend/src/Components/Home/ClassIndex/ClassIndex.module.scss
  frontend/src/Components/Home/ClassIndex/index.js
  frontend/src/Components/Home/Home.jsx
  frontend/src/Components/Home/Home.module.scss
  frontend/src/Components/Home/Home.test.jsx
  frontend/src/Components/Home/Search/Search.jsx
  frontend/src/Components/Home/Search/Search.module.scss
  frontend/src/Components/Home/Search/index.js
  frontend/src/Components/Navigation/NavigationContext.jsx
  frontend/src/Components/common/NavBar/NavBar.jsx
  frontend/src/Components/common/ProgressDialog/ProgressDialog.jsx
  frontend/src/Components/common/ProgressDialog/ProgressDialog.module.scss
  frontend/src/images/aditya1.jpg
  frontend/src/images/bg.jpg
  frontend/src/images/bulldog.jpg
  frontend/src/images/chris.png
  frontend/src/images/dariel.jpg
  frontend/src/images/sam.jpeg
  frontend/src/index.scss
  scripts/Term_Schedule.csv
  scripts/Term_Schedule.json
  scripts/Web_Scraper_Schedule.py
Labels: documentation

#50 Develop
  frontend/package.json
Labels: documentation

#51 Fix bug with course swapping
  backend/routes/courses/swap/acceptSwapCourses.js
  backend/routes/index.js
  backend/services/courseService.js
Labels: API, bug

#52 Return a proper error on accept swap.
  backend/routes/courses/swap/acceptSwapCourses.js
  frontend/src/Components/Home/ClassIndex/ClassIndex.module.scss
  frontend/src/Components/Home/ClassIndex/ClassIndex.test.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.jsx
  frontend/src/Components/Home/CourseListing/CourseListing.module.scss
  frontend/src/Components/Home/CourseListing/CourseListing.test.jsx
  frontend/src/Components/Home/CourseListing/CourseToGetDialog/CourseToGetDialog.jsx
  frontend/src/Components/Home/CourseListing/CourseToGetDialog/CourseToGetDialog.module.scss
  frontend/src/Components/Home/CourseListing/CourseToGetDialog/CourseToGetDialog.test.jsx
  frontend/src/Components/Home/CourseListing/CourseToGetDialog/index.js
  frontend/src/Components/Home/CourseSwap/CourseSwap.module.scss
  frontend/src/Components/Home/HomeScreen/HomeScreen.jsx
  frontend/src/Components/Home/HomeScreen/HomeScreen.module.scss
  frontend/src/Components/Home/HomeScreen/HomeScreen.test.jsx
  frontend/src/Components/Home/Search/Search.module.scss
  frontend/src/Components/Home/Search/Search.test.jsx
  frontend/src/Components/common/ErrorDialog/ErrorDialog.jsx
  frontend/src/Components/common/ErrorDialog/ErrorDialog.module.scss
  frontend/src/Components/common/ErrorDialog/ErrorDialog.test.jsx
  frontend/src/Components/common/ErrorDialog/index.js
Labels: API, Frontend, bug

#53 Backend/testing
  backend/tests/unit/controllers/courses/courses.swap.test.js
Labels: Backend, Testing
